---
export interface Props {
	title : string,
    frontmatter? : HomePageFrontmatter
}
type HomePageFrontmatter = {
    title: string
    layout: string
    leftlink : string
    lefttext : string
    rightlink : string
    righttext : string
};
import Layout from './Layout.astro';
import GLSLCanvas from '../components/GLSLCanvas.astro';
const props : Props = Astro.props; //frontmatter = astro.props.frontmatter
let frontmatter : HomePageFrontmatter | undefined = props?.frontmatter;
---
<Layout title={props.title}>
<GLSLCanvas src="public/fuji.glsl" class="home-banner" height="min(30vh, 300px)"/>
<div class="credit">
    <a href="https://www.shadertoy.com/user/kaiware007">kaiware007</a>
</div>
<div class="pfp"></div>
<div class="navigator">
    <a target='_blank' href="https://www.youtube.com/channel/UCDp6SYcFblFx5udgwHe5Shg/featured">Youtube</a>
    <slot  name='link2'>{ frontmatter ? <a href = {frontmatter.leftlink} > {frontmatter.lefttext} </a> : <a>placeholder2</a>}</slot>
    <a class= 'pfp-placeholder' href="">&nbsp;</a>
    <slot  name='link3'>{ frontmatter ? <a href = {frontmatter.rightlink} > {frontmatter.righttext} </a> : <a>placeholder3</a>}</slot> 
    <a href="/resume.pdf" target="_blank" data-cold download>Resume</a>
</div>
<article class={frontmatter?'mdcontainer':''}> <slot></slot> </article>
</Layout>


<style is:global>

    h1
    {
        text-align: center;
        font-size: 2.5em;
        color : var(--headertxt);
    }
    
    .credit
    {
        position:absolute;
        top:.75rem;
        right:.75rem;
    }

	article
	{
		width: 95%;
		max-width: var(--article-max-width);
		margin: auto;
	}

    footer
	{
		border-top: 1px solid var(--secondtext);
		margin-top:20px;
		padding:20px 0px;
	}
</style>

<style>
    .pfp
    {
        --picsize: 100px;
        display: block;
        width: var(--picsize);
        height: var(--picsize);
        margin: calc(-1 * var(--picsize)/2) auto;
        border-radius: 50px;
        background-image: url('/images/portrait.jpg');
        background-position: center;
        background-size: cover;
        z-index: 100;
        position:relative;
    }

    .pfp-placeholder
    {
        width: 100px;
        display: block;
    }

    
</style>

<style is:global>
    .navigator > a:hover
    {
        color : var(--secondtext);
    }

    .navigator >a
    {
        color: var(--headertxt);
        text-decoration: none;
        margin : auto;
    }
    @media (width<576px) {
        .navigator{
            grid-template-columns: repeat(5,1fr);
        }
        .pfp-placeholder{
            grid-column : 3!important;
            order: 2;
            grid-row: 1/3!important;
        }
        .navigator>:nth-child(2) 
        {
            grid-column: 2/3!important;
            grid-row:2!important;
        }
        .navigator>:nth-child(4) 
        {

            grid-column: 4/5 !important;
            grid-row:2!important;
        }
        .navigator>a{
            grid-column: span 2;
        }
    }
    @media (width>=576px) {
        .navigator
        {
            grid-template-columns: repeat(5,1fr);
        }
    }


    .navigator
    {
        display:grid;
        width: 95%;
        margin-left : auto;
        margin-right: auto;
        overflow:hidden;
        font-size : 1.25rem;
        row-gap: 5%;
        column-gap: 5%;
    }

    .pfp-placeholder
    {
        grid-column:3;
    }


    @media (width<576px)
    {
        .navigator
        {
            display:grid;
            grid-template-columns: repeat(5,15%);
            grid-template-rows: (2,1fr);
        }
    }
</style>